.default-layout {
  margin: 0;
  padding: 0;
  

  .navbar {
    display: flex;
    flex-direction: row;
    background-color: $color-1;

    .nav-left-links {
      display: flex;
      flex-direction: row-reverse;
      gap: 15px;
      margin-left: 30px;
    }

    .navbar-toggler{
      border: none;
      color: white;
    }
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    
    .nav-center-links {
      display: flex;
      flex-direction: column;

      .navbar-nav {
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;

        font-size: large;
        font-weight: 900;
      }
      
      .navbar-nav li a {
        color: white;
      }
      .navbar-nav li a:hover{
        background-color: #df615d;
        border-radius: 15px;
      }
    }
    .nav-right-links {
      display: flex;
      flex-direction: row-reverse;
      gap: 10px;
      margin-right: 30px;

      span {
        color: white;
        font-size: medium;
        font-weight: 700;
      }
    }

    @media (max-width: 991.98px) {
    .navbar-collapse {
      display: none; /* Ensure collapse is hidden until toggled */
    }

    .navbar-collapse.show {
      display: flex; /* Show when toggled */
      flex-direction: column;
      width: 100%;
    }

    .nav-center-links .navbar-nav {
      flex-direction: column; /* Stack links vertically on small screens */
      align-items: flex-end; /* Align to the right for RTL */
      width: 100%;
    }

    .nav-center-links .nav-link {
      text-align: right; /* Align text to the right for RTL */
      padding: 10px 20px;
    }
  }
  }
}